<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>아이템 메인이요</h2>

<form action="" th:object="${itemTest}">
    <div>
        <label for="id">상품 ID</label>
        <input type="text" id="id" th:field="*{id}" class="form-control" th:value="*{id}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" th:field="*{itemName}" class="form-control" th:value="*{itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" th:field="*{price}" class="form-control" th:value="*{price}" readonly>
    </div>
    <div>
        <label for="description">설명</label>
        <input type="text" id="description" th:field="*{description}" class="form-control" th:value="*{description}" readonly>
    </div>
</form>
</body>
</html>